name: "Ruyn SAST Scan on SuperMario Game Project"

on:
  push: 
    branches: 
      - master

jobs:
  sonarqube_sast_scans:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Shallow clones should be disabled for better analysis
      
      - name: Sonarqube Scans
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          